
  <div class="topnav">
    <a class="active" href="http://localhost:4200/home" >Home</a>
    <a href="http://localhost:4200/form/new">Add Employee</a>
    <a href="http://localhost:4200/view/all" >Employee List</a>
    <a  routerLink="/search">Search</a>
  </div>
  <h1>Welcome to the Employee Management System </h1>
  
  
  <body>
    
    <!-- <div class="text-center">
      <img src='img_employee.jpg' class="img-fluid" alt="Responsive image">
    </div> -->

    <img src="img_employee.jpg" alt="">
  </body>

